@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background:#f7f7f7;
    overflow-x:hidden;
}

header{
    margin-bottom:50px;
    ul{
        li{
            position:relative;
        }
    }
}

.dropbtn {
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(17,24,39);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top:30px;
    padding-bottom:30px;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
footer{
    margin-top:50px;
}

.alert-box{
    max-width:600px;
}

.login-box{
    max-width:600px;
    margin-top:50px;
    label{
        color:#fff;
    }
}

section#products{
    h1{
        font-size:40px;
        margin-bottom:50px;
    }
    .wrapper{
        .product-item{
            border:1px solid #a0a19d;
            border-radius:10px;
            overflow:hidden;
            .product-thumbnail{
                width:100%;
                height:200px;
                overflow:hidden;
                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .product-content{
                padding:15px;
                .product-title{
                    font-weight:bold;
                    font-size:18px;
                }
                .product-description{
                    font-size:16px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    height:48px;
                }
                .product-price{
                    font-size:20px;
                    font-weight:bold;
                    color:#66ba59;
                }
            }
            .product-actions{
                gap:15px;
                margin-top:10px;
                button{
                    width:50%;
                    background:#568ce3;
                    color:#fff;
                    text-align:center;
                    padding:8px 0;
                }
                a{
                    width:50%;
                    background:#a0a19d;
                    color:#fff;
                    text-align:center;
                    padding:8px 0;
                }
            }
        }
    }
}

.cart-quantity{
    display:flex;
    align-items: center;
    justify-content: center;
}